
# Exclude All
*

# Include these:
!rtx-remix/mods/gameReadyAssets/*
!rtx-remix/mods/gameReadyAssets/Materials/*
!rtx-remix/mods/gameReadyAssets/Meshes/*
!rtx-remix/mods/gameReadyAssets/Textures/*
!main/
!.iwd
!.1337
!.usda
!.usd
!.dds
!*.ini
